# Necessary Library

In [237]:
import pandas as pd
from sklearn.impute import KNNImputer
import numpy as np

# 0. Upload data

In [238]:
data = pd.read_csv('../../data/data.csv')

# 1. Understand your data

## Display head of Data

In [239]:
data.head()

,Unnamed: 0,name,model,price,color,fuel_type,origin_car,car_license,lime_type,glass,...,payment_method,displayed,ex_owners,additional_info,insurance_third,supplementary_body,total,ads_status,ads_start_data,ads_end_data
0,0,كيا اوبتيما,2014,100000,أبيض عاجي,بنزين,خصوصي,فلسطينية,اوتوماتيك,الكتروني,...,نقدا فقط,للبيع فقط,يد اولى,"مُكيّف,إغلاق مركزي,جهاز إنذار,مسجل CD,فتحة سقف...",1340.0,1751.0,3090.0,منتهي,2017-08-16,2017-09-15
1,1,كيا سورينتو,2007,60000,سكني,ديزل,خصوصي,فلسطينية,نصف اوتوماتيك,الكتروني,...,إمكانية التقسيط,للبيع أو التبديل,2,"مُكيّف,إغلاق مركزي,جهاز إنذار,مسجل CD,فتحة سقف...",1690.0,1050.0,2740.0,منتهي,2017-08-16,2017-09-30
2,2,هونداي افانتي,2006,43500,سكني,بنزين,خصوصي,فلسطينية,اوتوماتيك,الكتروني,...,نقدا فقط,للبيع فقط,NaN,"مُكيّف,إغلاق مركزي,جهاز إنذار,مسجل CD,جنطات مغ...",1340.0,1000.0,2340.0,منتهي,2017-08-19,2017-09-18
3,3,فيات 127,1982,5500,بيج,بنزين,خصوصي,فلسطينية,عادي,يدوي,...,إمكانية التقسيط,للبيع فقط,00,"مُكيّف,مسجل CD",467.0,500.0,967.0,منتهي,2017-08-17,2017-09-22
4,4,بيجو 208,2014,54000,فضي,بنزين,خصوصي,فلسطينية,اوتوماتيك,الكتروني,...,نقدا فقط,للبيع فقط,NaN,"مُكيّف,إغلاق مركزي,جهاز إنذار,جنطات مغنيسيوم,و...",1035.0,1000.0,2035.0,منتهي,2017-08-17,2017-10-01

- We have an Unnamed ID that we can delete
- Most of the columns are categorical

In [240]:
data.columns

Index(['Unnamed: 0', 'name', 'model', 'price', 'color', 'fuel_type',
       'origin_car', 'car_license', 'lime_type', 'glass', 'motor_power',
       'car_speedometer', 'passengers', 'payment_method', 'displayed',
       'ex_owners', 'additional_info', 'insurance_third', 'supplementary_body',
       'total', 'ads_status', 'ads_start_data', 'ads_end_data'],
      dtype='object')

## Shape of data

In [241]:
data.shape

(6161, 23)

## Decribe data

In [242]:
# Category features
data.describe(include='O')

,name,color,fuel_type,origin_car,car_license,lime_type,glass,car_speedometer,passengers,payment_method,displayed,ex_owners,additional_info,ads_status,ads_start_data,ads_end_data
count,6161,6161,6161,6161,6161,6161,6161,4380,5447,6161,6161,4661,5715,6161,6161,6161
unique,596,26,3,6,2,3,2,1200,43,2,3,339,191,1,1442,1597
top,سكودا اوكتافيا,أبيض,بنزين,خصوصي,فلسطينية,اوتوماتيك,الكتروني,100000,4+1,نقدا فقط,للبيع فقط,يد اولى,"مُكيّف,إغلاق مركزي,جهاز إنذار,مسجل CD,جنطات مغ...",منتهي,2019-09-28,2019-10-28
freq,446,1292,3594,5211,6090,3195,5662,90,4344,3863,3771,452,1100,6161,14,13

- We have 596 different automobile models, with the Skoda Octavia being the most popular.

- Car License, Origin Car, Glass, their unique value was replicated 6090 out of 6161, and it appears that it will be useless.

- Because the advertisements status has a unit value, it is useless.

In [243]:
# Numerical features
data.describe()

,Unnamed: 0,model,price,motor_power,insurance_third,supplementary_body,total
count,6161.000000,6161.000000,6161.000000,6161.000000,6152.000000,6152.000000,6152.000000
mean,3080.000000,2008.229021,65293.567603,1740.785100,1148.600618,1244.490897,2392.950910
std,1778.671836,8.752494,56326.044654,589.016536,313.160799,899.502486,1080.223525
min,0.000000,1967.000000,1200.000000,106.000000,467.000000,500.000000,967.000000
25%,1540.000000,2005.000000,35000.000000,1400.000000,1035.000000,1000.000000,2035.000000
50%,3080.000000,2010.000000,54500.000000,1600.000000,1340.000000,1000.000000,2340.000000
75%,4620.000000,2015.000000,80000.000000,2000.000000,1340.000000,1401.000000,2740.000000
max,6160.000000,2021.000000,999999.000000,9000.000000,1690.000000,17500.000000,18535.000000

- Model is a category because it is a year, not a number.
- Insurance Third has skewed left
- Total and motor power feel normal
- Price has skewed right

## Basic Information

In [244]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6161 entries, 0 to 6160
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          6161 non-null   int64
 1   name                6161 non-null   object
 2   model               6161 non-null   int64
 3   price               6161 non-null   int64
 4   color               6161 non-null   object
 5   fuel_type           6161 non-null   object
 6   origin_car          6161 non-null   object
 7   car_license         6161 non-null   object
 8   lime_type           6161 non-null   object
 9   glass               6161 non-null   object
 10  motor_power         6161 non-null   int64
 11  car_speedometer     4380 non-null   object
 12  passengers          5447 non-null   object
 13  payment_method      6161 non-null   object
 14  displayed           6161 non-null   object
 15  ex_owners           4661 non-null   object
 16  additional_info     5715 non-null   object
 17  insurance_third     6152 non-null   float64
 18  supplementary_body  6152 non-null   float64
 19  total               6152 non-null   float64
 20  ads_status          6161 non-null   object
 21  ads_start_data      6161 non-null   object
 22  ads_end_data        6161 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 1.1+ MB

- We have 3 types of data (object, number and float)
- There are some missing values

# Cleaning Data

## Before Handle Nan values

### Handle Passengers Column

In [245]:
import math

In [246]:
passengers:list = []

for row in data['passengers']:
    sum_digit = 0
    if pd.isna(row):
        passengers.append(np.NaN)
        continue
    for char in str(row):
        if char.isdigit():
            int_char = int(char)
            sum_digit = sum_digit + int_char
    passengers.append(sum_digit)

data['passengers'] = pd.Series(passengers).copy()
data['passengers'].unique()

array([ 5.,  8., nan,  6.,  7.,  3.,  1.,  4.,  2.,  9.,  0., 10.])

### Handle ex_owner Column

In [247]:
data['ex_owners'].unique()

array(['يد اولى ', '2 ', nan, '00  ', '0 ', '1 ', 'يد ثانية ', '4 ',
       'يد ثانيه ', '3 ', 'ثالثة ', 'غير منمر استيراد الماني ', '00 ',
       'غير منمرة ', 'أولى ', '٨ ', 'يد اولا ', 'يد ثالثة ', 'يد ثالثة  ',
       'ثانية ', 'يد أولى ', 'يد سادسة ', '5 ', 'اولى  ', 'صفر ', '9 ',
       '0000 ', 'رابعه ', 'يد أولى  ', '٤ ', 'يد رابعة  ', '٢ ',
       'يد ثالثه ', '6 ', 'يد اولى  ', '7 ', '... ', 'يد ثانيه  ',
       'يد أولى استيراد ', 'يد اولي 1 ', 'اولى ', '...... ', 'ثانيه ',
       'واحد ', 'اربعة ', 'اولا ', '٣ ', 'غير منمره ', 'يد تالته ', '٦ ',
       'يد رابعه ', 'يد ثالثة ( فتيات) ', '159000 ', '12 ', '- ',
       'مش منمر ', '0 مستورده ', 'يد تانيه ', '10 ', 'يد 1 ', 'مستورد ',
       'يد 4 ', 'يد رابعة ', '00000 ', '١ ', 'استيراد مباشر من كوريا  ',
       'يد خامسة ', '٥ ', 'يد 5 ', '******** ', 'نعم ', 'مش منمرة  ',
       'يد 3 ', ' يد ثانيه ', 'يداولى ', '4  ', 'يد أولى وكالة ',
       'يد خامسه ', 'يد ثانية  ', '٩ ', '٧ ', 'يدو اولى ', 'للبيع  ',
       '8 ', 'يد واله ', 'مش منمره ', 'ثالثه ', 'اول ', '11 ', '٠ ',
       'رابعة ', ' منمره  ', '2  ', '0مستورد ', '03 ', 'يد 2 ', 'ثالثة  ',
       'يد ولا ', 'يد عاشره ', 'يدثانيه  ', 'لا يوجد ', '56 ', '. ',
       '١١ ', 'لايوجد ', 'مستورد شركة  ', '13 ', '١٠ ', 'ايد ثانيه ',
       'يد صفر  ', 'يد اولى شركة ', 'استيراد الماني ', 'يد. اولى ',
       'يد ثالثه  ', '16 ', 'غير منمر  ', '17 ', 'يد تاسعة ',
       'مستود غير منمر ', 'يد ٢ ', 'اثنان ', 'ياولى ', 'يد3 ', 'يد صفر ',
       '0استيراد  ', 'يد اول  ', 'يد اولى وكالة ', ' يد ثانية ',
       'يد تاني ', 'يد ثني ', 'يد اولى  اصل شركة ', '......... ',
       'مش منمرة ', 'يدثالثة ', 'يد اولي ', 'يد اولى اصحاب سابقون 0 ',
       'يد خامساً  ', '000000 ', 'اصحاب سابقون صفر ', 'اوله ', 'يداولا ',
       'يد4 ', '000 ', 'يد ٤ بس نخب السيارة ', 'يد ثالث ', 'أولى  ',
       'مش منمرا ', 'يدثانيه ', 'وارد كوريا يد اولى ', '78888877766 ',
       '١٥ ', 'يد ثاتيه ', '********** ', 'مستوردة غير مرخصة ',
       'يد تانية ', 'صفر  ', '170000 ', '15 ', '١٢ ', 'مستوردة ', 'صفرض ',
       '0 مستورد كوري ', 'ايد 2 ', 'غير منمرة  ', '٠٠٠٠ ', '١٨ ', 'يد ٤ ',
       ' 2 ', 'يد ولى ', 'أيد تانية ', 'يد اولى صفر كيلو  ', '@ ',
       'اوله  ', 'يدثانية ', '٠٠٠٠٠٠٠٠٠ ', 'استراد شخصي ', '00000000 ',
       'يد خامسة  ', 'مستورده يد اولى ', '٠٠٠٠٠٠ ', '****** ',
       'ايد اولى ', 'تانيه ', 'غير منمر ', ' استيراد الماني ',
       '٠٠٠٠٠٠٠٠٠٠ ', 'يد خمسة ', 'خمسه ', 'استيراد كوري ', 'يد6 ',
       '  6 ', '1  ', ' 5 ', '2يد  ', '٠٠ ', 'يدتانيه ', 'يدخامسه ',
       '.... ', 'يد 6 ', 'يد أولئ أصحاب سابقون صفر ',
       'من الشركه مباشر لا يوجد اصحاب سابقون ', 'استيراد ', '123423 ',
       'عدد٣ ', 'يد٤ ', 'اصل تدريب سواقه  ', 'تالته ',
       'يد أولى بعد الاستيراد ', 'ثانية  ', 'يد ٣ ', 'يد ثاني ', 'يد ١٧ ',
       'انا ', '١٧ ', 'يد أولى 1 ', 'يد رابعه  ', 'يد أولي ', 'يد اول ',
       'ثانبه ', 'يد سابعة ', '٠٠٠٠٠٠٠٠ ', 'اشخاص ', 'يد ثاني.  ',
       'يد 0 ', 'يد ثامنه ', 'ايد ثانية  ', 'ثمانيه ', 'ايد رابعه ',
       'ثالث ', 'استيراد كوريا ', 'ايد اولى  ', 'تانبه ',
       'استيراد مباشر من اوروبا  ', ' 1 ', '2يد ', 'يد أولئ  ', 'يد٢ ',
       'خمسة ', 'يد اولى فقط ', 'وارد المانيا ', 'خامسة ', 'يد ثانيا ',
       'خمس ', 'استراد  ', 'يدثالثه ', 'يد أولى،... ', 'اولى\x89 ',
       'تاني  ', 'Ooo ', 'يد2 ', '٠٠٠٠٠ ', 'يد ا ', 'يد اوله ',
       'ايدثانيه ', 'ثاني ', 'فقط يد اولى ', 'يد٣ ', 'سحب شركة ',
       'يد اولى، استيراد شخصي ', 'يدو اولى  ', 'شطب ', 'ا ', 'يد اولئ ',
       'مستورد  ', 'يد اولى ( شركة ) ', 'مستورده ', '14 ', 'يد التالته ',
       '04 ', 'يد اربعه ', '12345 ', '  O ', 'يد٥ ', 'يد  ثانية ',
       'يد اولا  ', '1000 ', 'يد سابعه ', ' ايد ثالثه ', 'يدأولى ',
       'صفرر ', 'يد ٧  ', 'خامسه ', '، 0 ', '٠٠٠٠٩ ', 'استيراد مباشر ',
       'يد تانيه  ', 'اصل شركة ', 'يد ٥ ', ' 0 ', 'يد 8 ', '؟ ', '18 ',
       'مستوردة غير منمرة ', 'يد ١ ', 'يد واحدة  ',
       'استيراد كوريا - جديد مش منمر ', 'تالثه ', 'مش منمر  ', '3  ',
       '0778244 ', 'يداولى سحب شركه ', '.. ', 'يد اولى استيراد شخصي ',
       'E ', 'يد ', '19 ', '11111 ', '0 استيراد كوري  ', 'ايد أولى  ',
       '0000000 ', 'استيراد المانيا ', 'تانية ', 'يديانيه ',
       'استيراد كوريا  ', 'سابعه ', ',3 ', 'يد اولة ', '01 ', '? ',
       'يد  ١ ', '٠٠٠٠٠٠٠ ', 'مشطوب ', 'يد اولى الماني  ', 'يد اولىً ',
       'ايد ثالثة  ', 'مستورده  ', ' 00 ', 'غير منمرمستوردة ', 'لا شيء ',
       'خصوصي  ', 'يد واحد  ', 'يد اةلي ', 'O ', '، ', 'يدى اوله  ',
       'مش منمر . (صفر) ', 'رابعه  ', 'أستيراد ألماني  ', '--- ', 'Zero '],
      dtype=object)

In [248]:
ex_owner:dict = {
    'Nan_numaric': [np.NaN, '78888877766', '159000', '170000', '123423', '12345', '1000', '11111', '778244', '١٨', '١١', '١٢', '١٥', '١٧'],
    'Nan_value' : [np.NaN, '\x89', '.','*' , '@', '؟', '-' ,'،', '?', 'اشخاص', 'مس', 'شطب', 'E', 'مشطوب', 'خصوصي', 'للبيع', 'نعم', 'منمره'],
    'zero': ['0', '٠', 'صفر', 'صفرض', 'صفرر', 'لا شيء ','Zero','O', 'Ooo', '0',   'غير مرخصة', 'سحب', 'اصل',
             'مستورد', 'استيراد', 'مستوردة', 'استراد', 'مستورده', 'وارد', 'استراد', 'أستيراد' ],
    'ones' : ['1', 'أولى', 'اولى', 'اولا', 'واحد', 'اول', 'ياولى', 'اوله', 'انا','اولي', 'واله', 'ولا', 'واحدة', 'أولئ', 'ولى',
              'أولي', 'اولئ', 'اولة', 'اةلي', '١'],
    'ones_numra':['1', 'غير منمرة', 'مش', 'لا يوجد', 'لايوجد','غير','لا يوجد', 'يد ا', 'ا' , 'يد'],
    'two' : ['2', 'تانيه', 'ثني', 'تاني', 'ثاتيه', 'تانية', 'ثاني', 'ثانبه', 'تانبه', 'ثانيا', 'يانيه', 'ثانية', 'ثانيه', 'اثنان', '٢'],
    'three' : ['3', 'ثالثة', 'ثالثه', 'تالثه', 'تالته', 'ثالث', 'التالته', '٣'],
    'four'  : ['4', 'اربعه', 'رابعه', 'اربعة', 'رابعة','٤'],
    'five'  : ['5', 'خامسة', 'خامسه', 'خامساً', 'خمسة', 'خمسه', '٥'],
    'six'   : ['6', 'سادسة', '٦'],
    'seven' : ['7', 'سابعة', 'سابعه', '٧'],
    'eight' : ['8', 'ثامنه', 'ثمانيه', '٨'],
    'nighn' : ['9', 'تاسعة', '٩'],
    'ten'   : ['10', 'عاشره', '١٠']
   
}

In [249]:
def handle_ex_owner(search_list):
    index = []
    for search_word in search_list:
        search_word = str(search_word)
        count = 0
        for item in data['ex_owners']:
            item = str(item)
            split_item = item.split(' ')
            for i in range(len(split_item)):
                if search_word in split_item[i]:
                    index.append(count)
            count += 1
    return index

for key in ex_owner.keys():
   data['ex_owners'].iloc[handle_ex_owner(ex_owner[key])] = float(ex_owner[key][0])

data['ex_owners'].unique()

C:\Users\DELL\AppData\Local\Temp\ipykernel_13548\3710021957.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ex_owners'].iloc[handle_ex_owner(ex_owner[key])] = float(ex_owner[key][0])

array([1.0, 2.0, nan, 0.0, 4.0, 3.0, 8.0, 5.0, 9.0, 6.0, 7.0],
      dtype=object)

### Handle car_speedometer Column

In [250]:
index = 0
for item in data['car_speedometer']:
    item = str(item).split(' ')
    for i in range(len(item)): 
        if item[i].isdigit():
            data['car_speedometer'].iloc[index] = item[i]
            break
        if i == len(item)-1:
            data['car_speedometer'].iloc[index] = np.NaN
    index += 1

data['car_speedometer'].unique()

C:\Users\DELL\AppData\Local\Temp\ipykernel_13548\1888983739.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['car_speedometer'].iloc[index] = item[i]
C:\Users\DELL\AppData\Local\Temp\ipykernel_13548\1888983739.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['car_speedometer'].iloc[index] = np.NaN

array(['75000', '130000', nan, '38000', '١٢٣٤٥٦', '50000', '56000',
       '460000', '45000', '70000', '79000', '000', '150', '210000', '1',
       '20000', '00000000000000000', '113000', '33000', '00000000000000',
       '22000', '150000', '29000', '123457', '٢٥٠٠٠٠', '140000', '122000',
       '78000', '00000', '900000', '7', '00000000', '65000', '190',
       '184000', '200', '30000', '295000', '60000', '143212', '43000',
       '71', '160000', '4000', '121000', '9900', '٢٦٠', '0000', '80',
       '200000', '60', '124000', '100000', '90000', '000000', '99',
       '82000', '32123123', '120', '166000', '275000', '82700', '123000',
       '120000', '500000', '18000000', '١٥٠', '80000', '87000', '110000',
       '350000', '700000', '55', '٤٠٠٠٠٠', '35000', '380000', '167000',
       '140', '160', '123456789', '111111', '94000', '90', '46000', '82',
       '51', '280000', '115', '300000', '٤١٠٠٠', '196000', '274000',
       '١٢٠٠٠٠', '2000', '٠٠٠٠٠', '136000', '116000', '13700', '132',
       '54000', '40', '72000', '12345', '133000', '157', '47', '71000',
       '132000', '180000', '47000', '999855', '52000', '5', '30', '٦٥٠٠٠',
       '165500', '40000', '٢٥٦٦٦٤', '109000', '100', '39000', '190000',
       '١١٣٥٠٠', '74000', '2000000', '91000', '620', '51000', '١٦٠٠',
       '1111111', '٣٦٣٦٣٦', '٢٢٠', '490000', '48000', '159000',
       '٠٠٠٠٠٠٠٠٠٠٠٠', '000000000', '٦٨٠٠٠', '950000', '93000', '290090',
       '58000', '٣٦٠٠٠', '220', '800000', '350', '10000', '16000',
       '105000', '32000', '150000000', '١٢٠٠٠', '44000', '84000', '67000',
       '290000', '63000', '٤٧٠٠٠', '85', '240', '29500', '8000', '5500',
       '1234566677', '41500', '76000', '24000', '١٦٠٠٠٠', '492000',
       '٧١٠٠٠', '56', '42000', '195000', '18000', '62000', '250000',
       '101', '1234', '230240', '64000', '164000', '145000', '400000',
       '0000000', '95000', '25000', '308654', '4', '١٢٠', '33158',
       '68000', '٣٠٠٠', '48', '102000', '17000', '١١٤٠٠٠', '207000',
       '280', '34000', '00', '123', '100405', '٠٠٠', '20000000', '10002',
       '١٥٠٠٠', '185', '٥٧٠٠٠', '0012345', '0000000000', '123456',
       '83000', '١١١١١', '6666', '119', '400', '999999', '98000',
       '880000', '١٢٠٠٧٦', '1000', '57000', '135000', '91', '٨٠٠٠٠',
       '22222222', '134000', '5555444', '15000', '0000000112315', '99999',
       '45555', '145', '180', '1354000', '41000', '11111', '550000',
       '5400', '85000', '61000', '1234567', '3211230', '١٤٢', '٢١٢٣٠٤٧',
       '٧٧٧٧٧٧٧', '77755578', '77000', '١', '300', '٢٢٠٠٠', '165',
       '٦٩٠٠٠', '0', '666666', '440000', '170000', '119000', '39',
       '115000', '170', '٣٢٠٠٠', '١٣٠٠٠٠', '98800', '69', '790000',
       '125000', '199000', '78', '١٤٣', '69000', '49000', '145820',
       '73000', '230', '52', '13500', '230000', '31000', '777', '١٤٠٠٠٠',
       '٦٨٥١٥', '0000014', '92000', '١٨٠', '٠٠٠٠٠٠', '٥٥٠٠٠٠', '٨٠٠',
       '14', '٦٠', '2500000', '٣١٩٧٦٣', '٢٠٠٠٠٠', '١٠٧', '7500', '٦٥٠',
       '٧٠٠٠٠', '202000', '187453', '١٧٠٠٠٠', '12000', '66000', '37000',
       '112', '١٢٩٠٠٠', '14000', '678890', '710000', '139000', '١٥٠٠٠٠',
       '٤٥٠٠٠٠', '19000', '٧٥٠٠٠', '١١٠٠٠٠', '٥٠٠٠٠', '13000', '89700',
       '23000', '123888', '21000', '133', '١٠٠٠٠٠', '675000', '٩٠٠٠٠',
       '445000', '١٦٩٠٠٠', '175000', '87400', '23821', '112000', '78567',
       '٣٠٠٠٠', '168000', '١٨٦٠٠٠', '183737', '555555', '٢٩٠٠٠', '38800',
       '54357', '130', '183000', '97000', '٣٥', '١٠٠', '896000', '88000',
       '١١', '١٢٦٠٠٠', '165000', '129000', '١٢٣٤٥٦٧٧', '108000', '١٠٨٠٠',
       '141540', '٥٥٠٠٠', '١١٥٠٠٠', '28000', '٢٠٠٠٣', '244789', '220000',
       '٦٧٠٠٠', '١٢٣', '1000000', '87689', '١١٢', '118000', '70',
       '176000', '50', '24489', '٢١٠', '90990800', '٩٢٠٠٠', '٠٩٨٧٧٨٩٠',
       '١٢٣٠٠٠', '360', '٣٥٠٠٠', '٠٠٠٠٠٠٠٠٠٠', '55000', '٤٥', '١٣٥',
       '٢٠٠', '185000', '13', '49', '757575', '750000', '450000', '172',
       '95', '١٩', '11467', '556677', '٠٠٠٠٠٠٠٠', '33360', '٠٠٠٠٠٠٠٠٠',
       '216560', '67', '58700', '36000', '١٩٠٠٠٠', '114000', '٩٨', '9977',
       '144000', '١٠٦٠٠٠', '١٥٢٠٠٠', '٧٥٤٥٨', '360000', '162000', '92',
       '5600000000', '٦٦٠٠٠', '141000', '44', '169000', '53', '44555',
       '700', '١٥٥٠٠٠', '١٠٨٠٠٠', '320000', '١٣٠٠٠٠٠', '500', '884000',
       '٠٠٠٠', '27000', '٤٤', '٢٠', '117000', '111000', '٨١٠٠٠', '125326',
       '٢٤', '137000', '228000', '٣٠٠', '71500', '161000', '146009',
       '188000', '٤٤٠٠٠', '153000', '240000', '255000', '0000000000000',
       '264400', '٠', '42', '156000', '1466789', '270000', '45',
       '0000000000000000000005', '213000', '23100', '9999', '58',
       '200069', '89000', '٧٠٠٠', '77', '106000', '٢٠٧٧٦٧', '107000',
       '284922', '٤٠٠٠٠', '182000', '257', '00008800', '1300000', '٧٤٠٠٠',
       '٤٤٤٤٤٤٤٤٤٤', '79', '57', '١٨٣٠٠٠', '770000', '8500', '65',
       '199999', '46500', '٤٩٠٠٠', '١٢٥', '13366', '٧٠', '470000', '63',
       '211000', '٣٤٥٦٦٧', '11000', '26000', '١٨٠٠٠٠', '777777', '٣٦٣٠٠٠',
       '128', '74500', '١٢٢٠٠٠', '٢٥٠', '٠٠٠٠٠٠٠', '١٦٠', '1230000',
       '٦٠٠٠٠', '480000', '١٤٠', '209557', '3500', '5000', '9500',
       '118567', '٢٢٠٠٠٠', '١٧٠', '152', '870000', '١٧٦٤٠٣', '19900',
       '59000', '143', '15', '277000', '٧٨٠٠٠', '1100000', '١٢٣٤٥',
       '32343', '163000', '53000', '٧٥٠', '٦٠٠٠٠٠', '275', '526325',
       '250', '821111', '1111', '219', '٢١٥٠٠٠', '157000', '000000000000',
       '٢٠٠٠٠٠٠', '103106', '١٠٧٠٠٠', '94500', '121212', '٠٠٠٠٠٠٠٠٠٠٠',
       '298000', '00000000000', '٢٦٠٠٠٠', '148372', '٠٠', '40300',
       '١٩٧٠٠٠', '٥٠', '160542', '٧٢٠٠٠', '135', '127000', '65788879999',
       '١٠٥٠٠٠', '١٢٠٦٧٨', '١٢٤٤٥٦', '16352', '20', '٢٥٠٠٠', '263200',
       '123126', '٢٣٠٠٠٠', '٧٧٧٧٧٧', '16822', '22', '450', '152000',
       '٨٠٨٨٨٧', '25', '138000', '540000', '٥٤٠٠٠', '117', '87', '262000',
       '٢٤٠٠٠', '٧٥٠٠٠٠٠', '١٥٦٠٠٠', '١٧٥٩٠', '٦٢٠٠٠', '1500', '127654',
       '٨٠', '٢٠٠٠٠', '١٠٠٠٠', '427374', '٢٥١', '81000', '192', '105',
       '103000', '215000', '١١١١١١١', '245', '١٣٥٠٠٠', '420000', '260000',
       '١٦٥', '155555', '86000', '9000', '9999999', '35', '26134', '٦٩',
       '١٨٠٠٠٠٠', '٦٨٤١٨٦', '192000', '155000', '٣٥٠', '١٩٠', '3000000',
       '222', '147000', '99500', '158000', '٤٥٠٠', '186000', '٨٨',
       '٢٣٥٦٨٨٠', '٣٣', '١٧٥', '131000', '110', '445677', '10800',
       '11112222', '1600000', '٢٤٠٠٠٠', '٢٣٠٠٠', '٠٣٢٥٣٨', '٥٦٦٦٦',
       '٥٦٠٠٠', '٤٦', '6000000', '96000', '116', '١٤٢٣١٢', '142000',
       '340000', '٩٤٠٠٠', '٤٢٠٠٠', '628939', '3001111', '227000', '٣٣٣٣',
       '٧٦٠٠٠', '٧٩', '٩', '233', '93', '126000', '١٥٨٠٠٠', '٢١٣٤٦٦',
       '1233', '146000', '285', '290', '١٩٩٠٠٠', '١١٠', '125', '260',
       '١٢٣٤٥٦٧٨٩', '١٦٢٠٠', '2600', '٩٥٠٠٠', '٩٠', '197000',
       '٨٠٠٠٠٩٩٦٦٥٤٤', '60380', '٦٥٥٠٠', '68', '1007', '٦٠٠٠٠٠٠',
       '198000', '١٩٥٠٠٠', '٥٦٧٥٤', '225000', '149000', '٥٥', '٦٤٨٩٠٠٧٥',
       '17990', '32', '385000', '٩٩٩٩٩٩', '٨٣٠٠٠', '370000', '١٣٠٠٠',
       '37500', '٦١١٢٣٤٥', '580000', '١١١١', '٢٣', '١٢٧٠٠٠', '٦٦٦٠٠',
       '43', '245000', '٩٩٩٠٠٠', '١١١٠٠٠', '201788', '141300', '١٣٩٠٠٠',
       '٢٧٠', '١٧٥٠٠٠', '١١٦٠٠٠', '١٤٨٠٠٠', '٣٨', '٢٠٠٠', '٥٥٥٥٥٥',
       '91500', '٢١٠٠٠٠', '24489057', '٧٥', '129100', '12452',
       '111111111111', '٨٠٠٠٠٠', '٤٨٩٩٠', '56700', '28800', '34',
       '١٩٨٠٠٠', '85600', '٤٨٠٠٠', '147', '101000', '187000', '210',
       '118', '94400', '4444', '١٣٠', '٣٢٠', '٢٩٨٠٠٠', '١٤٠٠٠', '8580050',
       '505040', '2400000', '٦٢٠٠٠٠', '٤٥٠٠٠', '16707', '20266', '250882',
       '23500', '٣٠٠٠٠٠', '259', '٤٠٠', '٢٣٠', '47500', '١٣١', '١٧٩٠٠٠',
       '224000', '١١٣', '٢٨٠', '١٦٥٠٠٠', '400000000', '75218', '١٦٣',
       '181000', '76484983', '73', '103151', '13600', '١٧٤', '٨٨٠٠٠',
       '٢٧٠٠٠٠', '1800', '128000', '143000', '104000', '62', '٦٧٧٧٧٣',
       '٦٦٧٨٩٠', '1900', '١٠٠٨', '1660000', '249000', '267', '89',
       '٥٨٠٠٠', '235000', '18500', '١٨٠٠٠', '٠٠٠٠٠٠٠٠٠٩', '108', '١٦٣٠٠٠',
       '148', '874757', '75500', '١٢٣٤٠٠٠', '٩٧٠٠٠', '7667888', '١١٣٠٠٠',
       '11111111', '6700', '64', '172000', '٢١٦٥٧٨', '٥٩٠٠٠', '٤٧٩٠٠',
       '177000', '26', '122457846', '600000', '1001', '390', '218000',
       '١٩٠٠٠', '8550', '٧٥٦٨٥٥٤٤٩٩', '١٩٢٠٠٠', '6200000', '186', '121',
       '222000', '246000', '٧٥٠٠٠٠', '٦٠٠٠', '1038', '٧٧٧٧٧٧٧٧٧', '١٢٤٤',
       '٣٨٠٠٠', '١٧٢٠٠٠', '٢٤٠', '8546541', '1233445', '173000', '٨٦٠٠٠',
       '٤٠', '50000000', '194000', '123577', '١١٧٠٠', '320', '865543',
       '227500', '156', '11111111111111', '17900', '١١٧٠٠٠', '154000',
       '286000', '19500', '49500', '٥١٠٠٠', '123455', '418000', '3000',
       '3700', '164', '١٨٥٠٠٠٠', '100000000000', '٩٨٠٠٠', '127', '8654',
       '٩٩٩٩٩٩٩٩٩٩', '80500', '١٨٥٠٠٠', '14128', '113800', '١٨٨',
       '١٣٨٠٠٠', '٣٢', '122456', '200000000', '15300', '60800',
       '352688875', '148000', '458000', '16900', '4445', '36', '530000',
       '0010000001', '65288', '123356', '25880', '144', '233000',
       '315000', '10006', '241000', '100007', '106', '00658', '253000',
       '85650', '102500', '4700', '265000', '99000', '9999999999',
       '46554', '20400', '5000000', '520000', '339900', '435675',
       '5855558', '88555855', '34765', '189000', '0000000000000000',
       '326000', '58041', '14300', '21500', '6000', '158', '7000',
       '242000', '390000', '17500', '215', '12222', '16956', '133400',
       '264000', '39600', '226', '188', '194045', '193000', '330000',
       '1040', '354000', '52555', '33500', '8568996', '177314', '232',
       '35555', '368586', '179000', '229000', '35432', '103', '167',
       '42315', '544321', '62500', '288', '16500', '80435', '170465',
       '205', '94996', '179', '6006869666666686855888', '122', '24500',
       '124', '12345568900', '0500000', '178000', '36500', '55432',
       '305069', '297000', '6800', '2888', '7000000', '60479'],
      dtype=object)

## Nan Values

In [251]:
missing_value_columns = data[data.columns[data.isna().sum() > 0]].isna().sum()
missing_value_columns

car_speedometer       1915
passengers             714
ex_owners             1632
additional_info        446
insurance_third          9
supplementary_body       9
total                    9
dtype: int64

In [253]:
data['additional_info'].fillna("No additional value", inplace=True)

In [254]:
missing_value_columns = data[data.columns[data.isna().sum() > 0]].isna().sum()
missing_value_columns

car_speedometer       1915
passengers             714
ex_owners             1632
insurance_third          9
supplementary_body       9
total                    9
dtype: int64

### I can use knn for fill missing of numeric columns

In [255]:
# define imputer
imputer = KNNImputer(n_neighbors=3, weights='uniform', metric='nan_euclidean')

# fit on the dataset
imputer.fit(data[missing_value_columns.index])

# transform the dataset
data[missing_value_columns.index] = imputer.transform(data[missing_value_columns.index])

In [256]:
data[missing_value_columns.index].isna().sum()

car_speedometer       0
passengers            0
ex_owners             0
insurance_third       0
supplementary_body    0
total                 0
dtype: int64

## Duplicates

In [257]:
#Find the duplicates
data.duplicated().sum()

0

thers no duplicates values

## Data type for data

In [258]:
data.dtypes

Unnamed: 0              int64
name                   object
model                   int64
price                   int64
color                  object
fuel_type              object
origin_car             object
car_license            object
lime_type              object
glass                  object
motor_power             int64
car_speedometer       float64
passengers            float64
payment_method         object
displayed              object
ex_owners             float64
additional_info        object
insurance_third       float64
supplementary_body    float64
total                 float64
ads_status             object
ads_start_data         object
ads_end_data           object
dtype: object

# 2. Preparation and transformation

## Drop useless columns

## Rename columns

## Handle missing values

## Handle duplication

## create new features

# 3. Univariate analysis

Iterate through each and every relevant variable and get basic information such as

This is the first step of outlier detection. Here's is where you get up and personal with each variable

## Histograms

## value counts

## Skew

## Kurt

# 4. Multivariate analysis

Now you use seaborn to do scatterplots and pairplots

the first allow you to plot 2 variables against each other and understand how they move together.

Pairplots do this for all variables, all at the same time.

Play with the hue parameter in sns